<%- include adHeader %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/adBook.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $(".left ul li:eq(1)").css("color", "#FFF");
            $(".left ul li:eq(1)").css("background-color", "#BBCAF1");
            $(".left ul").find('li:eq(1)').children(".trig").css('display', 'block');
            $(".data input").attr('disabled', 'true');
            $(".data input").eq(0).removeAttr('disabled');
        });
    </script>
    <%- include adLeftBar %>
        <form class="ad_data" action="/adDeleteBook" method="POST">
            <div class="data data_1">
                <label>图书编号</label>
                <input name="BookId" placeholder="输入图书编号"/>
            </div>
            <button class="add_btn" type="submit">确认删除</button>
        </form>
        </div>
        <div class="clear"></div>
        </div>
        </div>
        </body>

        </html>