</head>
<body>
    <div class="ad_page">
        <div class="header">
            <img src="../images/logo.png">
            <div class="state">
                <div class="ad_name">
                    <div class="fa_i">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="/badBasicInformation"><%= hotyan.UserId %></a>
                </div>
                <div class="out">
                    <a href="/">退出</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="content">
            <div class="left">
                <ul>
                    <a href="/badAddReader">
                        <li>录入新读者
                            <div class="trig"></div>
                        </li>
                    </a>
                    <a href="/badDeleteReader">
                        <li>删除读者
                            <div class="trig"></div>
                        </li>
                    </a>
                    <a href="/badModifyReader">
                        <li>修改读者信息
                            <div class="trig"></div>
                        </li>
                    </a>
                    <a href="/badCheckReader">
                        <li>查看读者信息
                            <div class="trig"></div>
                        </li>
                    </a>
                    <a href="/badAddAdmin">
                        <li>录入管理员
                            <div class="trig"></div>
                        </li>
                    </a>
                    <a href="/badDeleteAdmin">
                        <li>删除管理员
                            <div class="trig"></div>
                        </li>
                    </a>
                    <a href="/badModifyAdmin">
                        <li>修改管理员信息
                            <div class="trig"></div>
                        </li>
                    </a>
                    
                    <a href="/badCheckAdmin">
                        <li>查看管理员信息
                            <div class="trig"></div>
                        </li>
                    </a>
                    <a href="/badBasicInformation">
                        <li>后台个人中心
                            <div class="trig"></div>
                        </li>
                    </a>

                </ul>
            </div>
            <div class="right">