</head>
<body>
<div class="header">
	<div class="header">
		<div class="home_logo"><a  href="/"><i class="fa fa-home">首页</i></a></div>
		<div class="page_title">个人中心</div>
		<div class="out_page"><a href="/">退出</a></div>
	</div>
</div>
<div class="book_logo">
	<img src="../images/booklogo.png">
</div>
<div class="reader_name"><%= hotyan.UserName %></div>
<div class="menu">
	<ul>
		<a href="/BasicInformation"><li class="first_li">基本资料</li></a>
		<a href="/ModifyInformation"><li class="other_li">修改资料</li></a>
		<a href="/Borrow"><li class="other_li">借书</li></a>
		<a href="/Return"><li class="other_li">还书</li></a>
		<a href="/Borrowed"><li class="last_li">借阅记录</li></a>
	</ul>
	<div class="clear"></div>
</div>