</head>

<body>
  <div class="ad_page">
    <div class="header">
      <img src="../images/logo.png">
      <div class="state">
        <div class="ad_name">
          <div class="fa_i">
            <i class="fa fa-user"></i>
          </div>
          <a href="/adBasicInformation">
            <%= hotyan.UserId %>
          </a>
        </div>
        <div class="out">
          <a href="/">退出</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="content">
      <div class="left">
        <ul>
          <a href="/adAddBook">
            <li>新书入库
              <div class="trig"></div>
            </li>
          </a>
          <a href="/adDeleteBook">
            <li>图书出库
              <div class="trig"></div>
            </li>
          </a>
          <a href="/adModifyBook">
            <li>修改图书信息
              <div class="trig"></div>
            </li>
          </a>
          <a href="/adCheckBook">
            <li>查阅图书信息
              <div class="trig"></div>
            </li>
          </a>
          <a href="/adBasicInformation">
            <li>管理员个人中心
              <div class="trig"></div>
            </li>
          </a>
        </ul>
      </div>
      <div class="right">