<%- include adHeader %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/adBook.css">
    <script type="text/javascript" src="../layer-v2.0/layer/layer.js"></script>
    <script type="text/javascript" src="../layer-v2.0/layer/extend/layer.ext.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".left ul li:eq(2)").css("color", "#FFF");
            $(".left ul li:eq(2)").css("background-color", "#BBCAF1");
            $(".left ul").find('li:eq(2)').children(".trig").css('display', 'block');
            // $(".data input").attr('disabled', 'true');
            // $(".data input").eq(0).removeAttr('disabled');
        });
    </script>

    <%- include adLeftBar %>
        <form class="ad_data" action="/adModifyBook" method="POST">
            <div class="data">
                <label>图书编号</label>
                <input name="BookId" />
            
                <!-- <button class="P_btn">打印编码</button> -->
            </div>
            <div class="data">
                <label>图书名称</label>
                <input name="BookName" type="text"/>
            </div>
            <div class="data">
                <label>作者</label>
                <input name="Author" />
            </div>
            <div class="data">
                <label>译者</label>
                <input name="Translator" />
            </div>
            <div class="data">
                <label>价格</label>
                <input name="Price" />
            </div>
            <div class="data">
                <label>ISBN编码</label>
                <input name="ISBNCode" />
            </div>
            <div class="data">
                <label>出版社</label>
                <input name="PublishCompany">
            </div>
            <div class="data">
                <label>出版日期</label>
                <input name="ComeUpTime" />
            </div>
            <div class="data">
                <label>借阅状态</label>
                <input name="State" />
            </div>
            <div class="data">
                <label>入库者</label>
                <input name="EnteringMen" />
            </div>
            <button class="add_btn" type="submit">确认修改</button>
            
        </form>
        </div>
        <div class="clear"></div>
        </div>
        </div>
        </body>

        </html>