<%- include badHeader %>
  <script type="text/javascript">
     $(document).ready(function() {
          $(".left ul li:eq(4)").css("color","#FFF");
          $(".left ul li:eq(4)").css("background-color","#B78DE7");
          $(".left ul").find('li:eq(4)').children(".trig").css('display', 'block');
     });
  </script>
</head>
<%- include badLeftBar %>
        <form action="/badAddAdmin" method="POST" class="ad_data">
            <div class="data">
                <label>管理号</label>
                <input type="text" placeholder="输入图书管理员编号" name="BAId" />
            </div>
            <div class="data">
                <label>用户名</label>
                <input type="text" placeholder="输入图书管理员姓名" name="BAName" />
            </div>
            <div class="data">
                <label>初始密码</label>
                <input type="text" placeholder="123456" name="BAPassword" />
            </div>
            <div class="data">
                <label>电话</label>
                <input type="text" placeholder="输入图书管理员电话" name="BAPhone" />
            </div>
            <div class="data">
                <label>邮箱</label>
                <input type="text" placeholder="输入图书管理员邮箱" name="BAEmail" />
            </div>
            <input class="add_btn" type="submit" value="确认添加" />
        </form>
      </div>
      <div class="clear"></div>
    </div>
   </div>
</body>
</html>