<%- include badHeader %>
    <link rel="stylesheet" type="text/css" href="../stylesheets/adminAddReader.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/searchTable.css">


    <script type="text/javascript">
        $(document).ready(function () {
            var left_li = $(".left ul li:eq(0)");
            left_li.css("color", "#FFF");
            left_li.css("background-color", "#B78DE7");
            $(".left ul").find('li:eq(0)').children(".trig").css('display', 'block');
            $(".table tbody tr:odd").css("backgroundColor", "#DFF0D8");//邻行颜色不一样
            $(".table tbody tr").eq(1).addClass('error');
            $(".table tbody tr").eq(2).addClass('error');
            //手动输入跟批量操作切换
            var m_li = $(".menu ul li");
            m_li.eq(0).addClass('addCss');
            m_li.eq(0).click(function () {
                $(".menu_left").css('display', 'block');
                $(".menu_right").css('display', 'none');
                m_li.eq(1).removeClass('addCss');
                m_li.eq(0).addClass('addCss');

            });
            m_li.eq(1).click(function () {
                $(".menu_left").css('display', 'none');
                $(".menu_right").css('display', 'block');
                m_li.eq(0).removeClass('addCss');
                m_li.eq(1).addClass('addCss');
            });
        });
    </script>
    <%- include badLeftBar %>
        <div class="ad_data">
            <div class="menu">
                <ul>
                    <li>手动输入</li>
                    <li>批量导入</li>
                </ul>
                <div class="clear"></div>
            </div>
            <form action="/badAddReader" method="POST" class="menu_left">
                <div class="data">
                    <label>借阅号</label>
                    <input type="text" placeholder="输入读者学号" name="UserId" />
                </div>
                <div class="data">
                    <label>用户名</label>
                    <input type="text" placeholder="输入读者姓名" name="UserName" />
                </div>
                <div class="data">
                    <label>默认密码</label>
                    <input type="text" placeholder="123456" name="Password" />
                </div>
                <div class="data">
                    <label>学院</label>
                    <input type="text" placeholder="输入读者学院" name="Departments" />
                </div>
                <div class="data">
                    <label>专业</label>
                    <input type="text" placeholder="输入读者专业" name="Major" />
                </div>
                <div class="data">
                    <label>电话</label>
                    <input type="text" placeholder="输入读者电话" name="Phone" />
                </div>
                <div class="data">
                    <label>邮箱</label>
                    <input type="text" placeholder="输入读者邮箱" name="Email" />
                </div>
                <div class="data">
                    <label>借阅上限</label>
                    <input type="text" placeholder="输入借阅上限" name="Max" />
                </div>
                <div class="data">
                    <label>借阅期限</label>
                    <input type="text" placeholder="输入借阅期限" name="Time" />
                </div>
                <input class="add_btn" type="submit" value="确认添加" />
                <!-- <div class="noadd_btn">取消</div> -->
            </form>
            <div class="menu_right">
                <input id="upload" style="width:300px" type="text" value="" />
                <script id="myeditor"></script>
                <input type="button" onclick="upFiles()" value="上传文件" />
                
                <div class="table_div">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="tdOne">借阅号</th>
                                <th class="tdTwo">用户名</th>
                                <th>学院</th>
                                <th>专业</th>
                                <th>电话</th>
                                <th class="tdOne">邮箱</th>
                                <th>借阅上限</th>
                                <th>借阅期限</th>
                                <th class="tdOne">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>20151111</td>
                                <td>张三</td>
                                <td>计算机科学与工程学院</td>
                                <td>计算机科学与技术专业</td>
                                <td>11223344555</td>
                                <td>1111222233@qq.com</td>
                                <td>10</td>
                                <td>30</td>
                                <td>
                                    <button>打印编码</button>
                                    <button>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>20151111</td>
                                <td>张三</td>
                                <td>计算机科学与工程学院</td>
                                <td>计算机科学与技术专业</td>
                                <td>11223344</td>
                                <td>1111222233@qq.com</td>
                                <td>10</td>
                                <td>30</td>
                                <td>
                                    <button>打印编码</button>
                                    <button>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>20151111</td>
                                <td>张三</td>
                                <td>计算机科学与工程学院</td>
                                <td>计算机科学与技术专业</td>
                                <td>11223344</td>
                                <td>1111222233@qq.com</td>
                                <td>10</td>
                                <td>30</td>
                                <td>
                                    <button>打印编码</button>
                                    <button>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>20151111</td>
                                <td>张三</td>
                                <td>计算机科学与工程学院</td>
                                <td>计算机科学与技术专业</td>
                                <td>11223344</td>
                                <td>1111222233@qq.com</td>
                                <td>10</td>
                                <td>30</td>
                                <td>
                                    <button>打印编码</button>
                                    <button>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>20151111</td>
                                <td>张三</td>
                                <td>计算机科学与工程学院</td>
                                <td>计算机科学与技术专业</td>
                                <td>11223344</td>
                                <td>1111222233@qq.com</td>
                                <td>10</td>
                                <td>90</td>
                                <td>
                                    <button>打印编码</button>
                                    <button>删除</button>
                                </td>
                            </tr>
                            <tr>
                                <td>20151111</td>
                                <td>张三</td>
                                <td>计算机科学与工程学院</td>
                                <td>计算机科学与技术专业</td>
                                <td>11223344</td>
                                <td>1111222233@qq.com</td>
                                <td>10</td>
                                <td>90</td>
                                <td>
                                    <button>打印编码</button>
                                    <button>删除</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="book_num">读者数量:
                        <span>6</span> 本</div>
                    <button class="submit">确认导入</button>
                </div>
            </div>
        </div>
        </div>

        </div>
        </div>
        </body>

        </html>