<%- include badHeader %>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".left ul li:eq(1)").css("color", "#FFF");
			$(".left ul li:eq(1)").css("background-color", "#B78DE7");
			$(".left ul").find('li:eq(1)').children(".trig").css('display', 'block');
			
		});
	</script>
	<%- include badLeftBar %>
		<form class="ad_data" action="/badDeleteReader" method="POST">
			<div class="data">
				<label>借阅号</label>
				<input type="text" placeholder="输入读者借阅号" name="UserId" />
			</div>

			<button class="add_btn" type="submit">
				确认删除
			</button>

		</form>
		</div>
		</div>
		</div>
		</body>

		</html>