<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
		body {
			background-color: azure;
		}

		div.reg {
			height: 350px;
			width: 300px;
			border: 1px gray solid;
			background: azure;
			padding:20px 40px 20px 85px;
			margin: 0 auto;
			border-radius: 10px;
			margin-top: 150px;

		}

		span.login {
			display: block;
			margin-left: 80px;
		}

		input.input {
			height: 30px;
			width: 200px;
			margin: 10px;
		}

		button {
			display: block;
			height: 30px;
			width: 80px;
			margin-left: 80px;
			margin-top: 10px;
			font-size: 16px;
			border-radius: 5px;
			background-color: rgb(148, 181, 241);
			color: white;
		}

		div.bar {
			height: 60px;
			width: 100%;
			background-color: wheat;

		}

		a {
			text-decoration: none;
			/* background-color: black; */
			padding: 10px;
			position: absolute;
			top: 18px;
			color: black;
			font-size: 20px;


		}
		.tip{
			color: #f00;
			font-size: 10px;
		}
		
	</style>
</head>

<body>
	<div class="bar">
		<a href="/">首页</a>
	</div>
	
	<div class="reg">
			<% if(errmsg){ %>
				<p class="tip">*
					<%= errmsg %>
				</p>
				<% } %>
		<form action="/badminreg" method="post">
			
					<span class="login">后台管理员注册</span>
					<input class="input" placeholder="输入后台管理员编号" type="text" name="UserId" required="required" />
					<input class="input" placeholder="输入密码" type="password" name="Password" required="required" />
					<input class="input" placeholder="重复密码" type="password" name="Password2" required="required" />
					<!--<input style="margin-left:10px;" type="checkbox" />-->
					<!--<span style="font-size:12px;">两周免登录</span>-->
					<button type="submit">注册</button>

		</form>

	</div>

</body>

</html>