<%- include header %>

	<link rel="stylesheet" type="text/css" href="../stylesheets/readerAlterPaswd.css">
	
	<script type="text/javascript">
	  $(function(){
	  	 var Lis=$(".menu ul li").eq(3);
	  	 Lis.css('border-bottom', '7px solid #419EDC');
	  	 Lis.css('margin-top', '-7px');
	  	 Lis.css('color', '#419EDC');
	  	 $('input[type=password]:first').focus();//默认光标位置在input
	  })
	</script>
<%- include TopBar %>
<form class="content" action="/Return" method="POST">
	<div class="data"><input type="text" placeholder="输入要归还的图书编号" name="BookId"/></div>
    <button class="add_btn" type="submit">确认归还</button>
</form>
<%- include footer %> 